%h1 Question
%h2= @question.title
%br
= @question.body
%br

= link_to 'Delete question', question_path, method: :delete if @question.user == current_user

= render 'answers/form'

%div.answers
  = render 'answers/answers', answer: @question.answers
