%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stackoverflow
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = link_to 'log out', destroy_user_session_path, method: :delete
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
